:root {
  --bg-color: #fffaf2;
}
.skills {
  background-color: var(--bg-color);
  padding-top: 5.8125rem;
}
.skills-content img {
  height: 21.25rem;
}
.skills-content {
  display: flex;
  padding: 4.875rem 0 9.0625rem 0;
  justify-content: space-around;
}
.text-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.text-description {
  font-size: 18px;
  line-height: 25px;
  margin-left: 8px;
}
.text-item {
  margin-bottom: 20px;
}
.text-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .skills {
    text-align: center;
    padding-top: 25px;
  }
  .skills-content {
    display: block;
    padding: 25px 0;
  }
  .skills-content img {
    height: 218px;
  }
  .text-content {
    padding: 25px;
  }
  .text-item {
    margin-bottom: 18px;
  }
}
