.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 93px 0;
}
.footer h2 {
  margin-bottom: 51px;
}
.footer a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}
.footer a:hover {
  color: var(--text-color);
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content a {
  margin-bottom: 14px;
}
.footer-content a:last-child {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .footer-content {
    flex-wrap: wrap;
  }
  .footer p {
    margin: 10px 0 0 0;
  }
}
